.block
  margin-bottom 3.5rem
  margin-left .5rem
  margin-right .5rem
  img
    margin 0
    padding 0
  h1
    padding 0
    margin 0
  h2
    padding 0
    margin 0
  h3
    padding 0
    margin 0  
  .block-head
    background-color lighten($default_site_colour, 5)
    padding .5rem
    h3
      margin-top .05rem
      margin-bottom .03rem
      margin-left .5rem
      font-weight bold
    h4
      margin-top .5rem
      margin-bottom .3rem
      margin-left .3rem
      font-weight bold
  .block-body
    padding-bottom .2rem
    background-color lighten($default_site_colour, 30)
    h1,h2,h3,h4,h5,h6
      margin 0
      font-weight bold
    .block-list
      list-style none
      padding-left .75rem
      padding-top 1rem
      margin-bottom 0
      margin-left 1.5rem
      margin-top 0
      font-size 1.4rem
      .fa
        background-color lighten($default_site_colour, 5)
        padding .35rem .35rem .6rem .35rem
      .round
        .fa
          border-top-left-radius .4rem
          border-bottom-left-radius .4rem
      li 
        width 95%
        margin-bottom 1rem
        background-color lighten($default_site_colour, 20)
      .li-title
        width 30%
        margin 0
        margin-left .3rem
        padding .2rem
        font-weight 600
      .li-body
        width 40%
        margin 0
        margin-left .2rem
      
    
    