/* Default Button with Transparent Background */
.btn,button,input[type="submit"],input[type="reset"],input[type="button"]
  display inline-block
  height 3rem
  padding 0 3rem
  color $default_font_colour
  text-align center
  font-size 1.1rem
  font-weight 400
  line-height 3rem
  letter-spacing .1rem
  text-transform uppercase
  text-decoration none
  white-space nowrap
  background-color transparent
  border .1rem solid #bbb
  cursor pointer
  box-sizing border-box 
  &:hover
    color $default_font_colour
    border-color #888
    outline 0 
  &:focus
    color $default_font_colour
    border-color #888
    outline 0

  
// Blue Background
.btn-neutral,.btn.btn-neutral,button.btn-neutral,input[type="submit"].btn-neutral,input[type="reset"].btn-neutral,input[type="button"].btn-neutral, bt 
  color #FFF
  background-color $neutral
  border-color $neutral
  &:hover
    color #FFF
    background-color darken($neutral,5)
    border-color darken($neutral,5)
  &:focus
    color #FFF
    background-color darken($neutral,5)
    border-color darken($neutral,5)

// Red Background   
.btn-bad,.btn.btn-bad,button.btn-bad,input[type="submit"].btn-bad,input[type="reset"].btn-bad,input[type="button"].btn-bad 
  color #FFF
  background-color $bad
  border-color $bad
  &:hover
    color #FFF
    background-color darken($bad,5)
    border-color darken($bad,5)
  &:focus
    color #FFF
    background-color darken($bad,5)
    border-color darken($bad,5)

// Orange Background
.btn-medium,.btn.btn-medium,button.btn-medium,input[type="submit"].btn-medium,input[type="reset"].btn-medium,input[type="button"].btn-medium 
  color #FFF
  background-color $medium
  border-color $medium
  &:hover
    color #FFF
    background-color darken($medium,5)
    border-color darken($medium,5)
  &:focus
    color #FFF
    background-color darken($medium,5)
    border-color darken($medium,5)

// Green Background    
.btn-good,.btn.btn-good,button.btn-good,input[type="submit"].btn-good,input[type="reset"].btn-good,input[type="button"].btn-good 
  color #FFF
  background-color $good
  border-color $good
  &:hover
    color #FFF
    background-color darken($good,5)
    border-color darken($good,5)
  &:focus
    color #FFF
    background-color darken($good,5)
    border-color darken($good,5)

btn,.btn 
  margin-bottom 1rem
    
