/* GRID VARIABLES - NECESSARY FOR GRID TO WORK
/* TO CHANGE THE SIZE OF THE GRID JUST CHANGE THE LAST NUMBER IN THE $1_rise_wth VARIABLE*/
$12_rise_wth = 100%
$1_rise_wth = $12_rise_wth / 12

/* DEFAULT PATHS */
$font_path = "../fonts/"
$img_path = "../img/"

/* COLOUR SCHEME */
$neutral = #6A98E1 //Blue
$bad = #F74662 //Red
$medium = #FFA86A //Orange
$good = #60E59E //Green
$default_font_colour = #333 //Grey

/* SLICK CAROUSEL VARIABLES */
$slick-font-path = $font_path 
$slick-font-family = "slick" 
$slick-loader-path = "./" 
$slick-arrow-color = white 
$slick-dot-color = black 
$slick-dot-color-active =  $slick-dot-color 
$slick-prev-character =  ">" 
$slick-next-character =  "<" 
$slick-dot-character =  "•" 
$slick-dot-size =  6px 
$slick-opacity-default =  0.75 
$slick-opacity-on-hover =  1 
$slick-opacity-not-active =  0.25 