/* 
# GRID VARIABLES - NECESSARY FOR GRID TO WORK
# AMOUNT OF COLUMNS CAN BE ADJUSTED BUT NEW RISE CLASSES WILL HAVE TO BE MANUALLY CREATED INSIDE OF _grid.styl 
*/
$12_riser_wth = 100%
$1_riser_wth = $12_riser_wth / 12

/* 
# DEFAULT PATHS 
# UPDATE THESE IF FONTS OF IMAGES ARE KEPT IN ANOTHER DIRECTORY
*/
$font_path = "../fonts/"
$img_path = "../img/"

/* 
# COLOUR SCHEME
# MANUALLY CHANGE THESE HERE TO CHANGE THE COLOUR OF ALL PRE-DEFINED ELEMENTS
# NEUTRAL IS, BY DEFAULT, THE MAIN SITE COLOUR
*/
$neutral = #6A98E1 //Blue
$bad = #F74662 //Red
$medium = #FFA86A //Orange
$good = #60E59E //Green
$default_font_colour = #333 //Grey
$default_site_colour = $neutral

/* 
# FONTS
# NEW FONTS CAN BE ADDED BELOW
*/
@font-face
  font-family SoftElegance
  font-style normal
  src url($font_path + "SoftElegance.ttf")
@font-face
  font-family Monofur
  font-style normal
  src url($font_path + "monofur.ttf")

$main_font = "SoftElegance", sans-serif
$code_font = "Monofur", monospace



/* 
# TYPOGRAPHY
# RELATIVE FONT SIZES
*/
$h1_size = 4rem
$h2_size = 3.6rem
$h3_size = 3rem
$h4_size = 2.4rem
$h5_size = 1.8rem
$h6_size = 1.5rem 
