.tower-mob-1,.tower-mob-2,.tower-mob-3,.tower-mob-4,.tower-mob-5,.tower-mob-6,.tower-mob-7,.tower-mob-8,.tower-mob-9,.tower-mob-10,.tower-mob-11,.tower-mob-12,.tower-tab-1,.tower-tab-2,.tower-tab-3,.tower-tab-4,.tower-tab-5,.tower-tab-6,.tower-tab-7,.tower-tab-8,.tower-tab-9,.tower-tab-10,.tower-tab-11,.tower-tab-12,.tower-lap-1,.tower-lap-2,.tower-lap-3,.tower-lap-4,.tower-lap-5,.tower-lap-6,.tower-lap-7,.tower-lap-8,.tower-lap-9,.tower-lap-10,.tower-lap-11,.tower-lap-12,.tower-des-1,.tower-des-2,.tower-des-3,.tower-des-4,.tower-des-5,.tower-des-6,.tower-des-7,.tower-des-8,.tower-des-9,.tower-des-10,.tower-des-11,.tower-des-12
  width 100%
  float left
  box-sizing border-box
.full-keep /* Full page width container */
  width 100%
  max-width 100%
  clear both
  margin 0 auto
.keep /* Width restricter container 960px max */
  position relative
  width 100%
  max-width 960px
  margin 0 auto
  padding 0 20px
  box-sizing border-box
  
.tower-mob-1
  width 8.333%    
.tower-mob-2
  width 16.666%    
.tower-mob-3
  width 24.999%    
.tower-mob-4
  width 33.333%    
.tower-mob-5
  width 41.665%    
.tower-mob-6
  width 49.998%    
.tower-mob-7
  width 58.331%    
.tower-mob-8
  width 66.664%    
.tower-mob-9
  width 74.997%    
.tower-mob-10
  width 83.333%    
.tower-mob-11
  width 91.663%    
.tower-mob-12
  width 100%
  margin-left 0
.offset-mob-1
  margin-left 8.333%
.offset-mob-2
  margin-left 16.666% 
.offset-mob-3
  margin-left 24.999%
.offset-mob-4
  margin-left 33.333%
.offset-mob-5
  margin-left 41.665%
.offset-mob-6
  margin-left 49.998% 
.offset-mob-7
  margin-left 58.331% 
.offset-mob-8
  margin-left 66.664%
.offset-mob-9
  margin-left 74.997% 
.offset-mob-10
  margin-left 83.333% 
.offset-mob-11
  margin-left 91.663%
  
@media (min-width 768px)
  .tower-tab-1
    width 8.333%    
  .tower-tab-2
    width 16.666%    
  .tower-tab-3
    width 24.999%    
  .tower-tab-4
    width 33.333%    
  .tower-tab-5
    width 41.665%    
  .tower-tab-6
    width 49.998%    
  .tower-tab-7
    width 58.331%    
  .tower-tab-8
    width 66.664%    
  .tower-tab-9
    width 74.997%    
  .tower-tab-10
    width 83.333%    
  .tower-tab-11
    width 91.663%    
  .tower-tab-12
    width 100%
    margin-left 0
  .offset-tab-1
    margin-left 8.333%
  .offset-tab-2
    margin-left 16.666% 
  .offset-tab-3
    margin-left 24.999%
  .offset-tab-4
    margin-left 33.333%
  .offset-tab-5
    margin-left 41.665%
  .offset-tab-6
    margin-left 49.998% 
  .offset-tab-7
    margin-left 58.331% 
  .offset-tab-8
    margin-left 66.664%
  .offset-tab-9
    margin-left 74.997% 
  .offset-tab-10
    margin-left 83.333% 
  .offset-tab-11
    margin-left 91.663%

@media (min-width 992px)
  .tower-lap-1
    width 8.333%    
  .tower-lap-2
    width 16.666%    
  .tower-lap-3
    width 24.999%    
  .tower-lap-4
    width 33.333%    
  .tower-lap-5
    width 41.665%    
  .tower-lap-6
    width 49.998%    
  .tower-lap-7
    width 58.331%    
  .tower-lap-8
    width 66.664%    
  .tower-lap-9
    width 74.997%    
  .tower-lap-10
    width 83.333%    
  .tower-lap-11
    width 91.663%    
  .tower-lap-12
    width 100%
    margin-left 0
  .offset-lap-1
    margin-left 8.333%
  .offset-lap-2
    margin-left 16.666% 
  .offset-lap-3
    margin-left 24.999%
  .offset-lap-4
    margin-left 33.333%
  .offset-lap-5
    margin-left 41.665%
  .offset-lap-6
    margin-left 49.998% 
  .offset-lap-7
    margin-left 58.331% 
  .offset-lap-8
    margin-left 66.664%
  .offset-lap-9
    margin-left 74.997% 
  .offset-lap-10
    margin-left 83.333% 
  .offset-lap-11
    margin-left 91.663%
    
@media (min-width 1200px)
  .tower-des-1
    width 8.333%    
  .tower-des-2
    width 16.666%    
  .tower-des-3
    width 24.999%    
  .tower-des-4
    width 33.333%    
  .tower-des-5
    width 41.665%    
  .tower-des-6
    width 49.998%    
  .tower-des-7
    width 58.331%    
  .tower-des-8
    width 66.664%    
  .tower-des-9
    width 74.997%    
  .tower-des-10
    width 83.333%    
  .tower-des-11
    width 91.663%    
  .tower-des-12
    width 100%
    margin-left 0
  .offset-des-1
    margin-left 8.333%
  .offset-des-2
    margin-left 16.666% 
  .offset-des-3
    margin-left 24.999%
  .offset-des-4
    margin-left 33.333%
  .offset-des-5
    margin-left 41.665%
  .offset-des-6
    margin-left 49.998% 
  .offset-des-7
    margin-left 58.331% 
  .offset-des-8
    margin-left 66.664%
  .offset-des-9
    margin-left 74.997% 
  .offset-des-10
    margin-left 83.333% 
  .offset-des-11
    margin-left 91.663%

h1
  font-size 5rem
h2
  font-size 4.2rem
h3
  font-size 3.6rem
h4
  font-size 3rem
h5
  font-size 2.4rem
h6
  font-size 1.5rem
    

