rise_width($rise_num)
  $1_rise_wth * $rise_num

.rise-1,.rise-2,.rise-3,.rise-4,.rise-5,.rise-6,.rise-7,.rise-8,.rise-9,.rise-10,.rise-11,.rise-12,.rise-s1,.rise-s2,.rise-s3,.rise-s4,.rise-s5,.rise-s6,.rise-s7,.rise-s8,.rise-s9,.rise-s10,.rise-s11,.rise-s12,.rise-m1,.rise-m2,.rise-m3,.rise-m4,.rise-m5,.rise-m6,.rise-m7,.rise-m8,.rise-m9,.rise-m10,.rise-m11,.rise-m12,.rise-l1,.rise-l2,.rise-l3,.rise-l4,.rise-l5,.rise-l6,.rise-l7,.rise-l8,.rise-l9,.rise-l10,.rise-l11,.rise-l12
  width 100%
  float left
  box-sizing border-box
.fullPod /* Full page width container */
  width 100%
  max-width 100%
  clear both
  margin 0 auto
.pod /* Width restricted container 960px max */
  position relative
  width 100%
  max-width 96%
  margin-left 5px
  margin-right 5px
  box-sizing border-box
.rise-1
  width $1_rise_wth    
.rise-2
  width rise_width(2)
.rise-3
  width rise_width(3)    
.rise-4
  width rise_width(4) 
.rise-5
  width rise_width(5) 
.rise-6
  width rise_width(6)
.rise-7
  width rise_width(7)   
.rise-8
  width rise_width(8) 
.rise-9
  width rise_width(9)   
.rise-10
  width rise_width(10)   
.rise-11
  width rise_width(11) 
.rise-12
  width rise_width(12)
  margin-left 0
.offset-1
  margin-left $1_rise_wth
.offset-2
  margin-left rise_width(2) 
.offset-3
  margin-left rise_width(3)
.offset-4
  margin-left rise_width(4)
.offset-5
  margin-left rise_width(5)
.offset-6
  margin-left rise_width(6) 
.offset-7
  margin-left rise_width(7) 
.offset-8
  margin-left rise_width(8)
.offset-9
  margin-left rise_width(9) 
.offset-10
  margin-left rise_width(10) 
.offset-11
  margin-left rise_width(11)
  
@media (min-width 768px)
  .rise-s1
    width $1_rise_wth
  .rise-s2
    width rise_width(2)
  .rise-s3
    width rise_width(3)    
  .rise-s4
    width rise_width(4) 
  .rise-s5
    width rise_width(5) 
  .rise-s6
    width rise_width(6)
  .rise-s7
    width rise_width(7)   
  .rise-s8
    width rise_width(8) 
  .rise-s9
    width rise_width(9)   
  .rise-s10
    width rise_width(10)   
  .rise-s11
    width rise_width(11) 
  .rise-s12
    width rise_width(12)
    margin-left 0
  .offset-s1
    margin-left $1_rise_wth
  .offset-s2
    margin-left rise_width(2) 
  .offset-s3
    margin-left rise_width(3)
  .offset-s4
    margin-left rise_width(4)
  .offset-s5
    margin-left rise_width(5)
  .offset-s6
    margin-left rise_width(6) 
  .offset-s7
    margin-left rise_width(7) 
  .offset-s8
    margin-left rise_width(8)
  .offset-s9
    margin-left rise_width(9) 
  .offset-s10
    margin-left rise_width(10) 
  .offset-s11
    margin-left rise_width(11)

@media (min-width 992px)
  .rise-m1
    width $1_rise_wth   
  .rise-m2
    width rise_width(2)
  .rise-m3
    width rise_width(3)    
  .rise-m4
    width rise_width(4) 
  .rise-m5
    width rise_width(5) 
  .rise-m6
    width rise_width(6)
  .rise-m7
    width rise_width(7)   
  .rise-m8
    width rise_width(8) 
  .rise-m9
    width rise_width(9)   
  .rise-m10
    width rise_width(10)   
  .rise-m11
    width rise_width(11) 
  .rise-m12
    width rise_width(12)
    margin-left 0
  .offset-m1
    margin-left $1_rise_wth
  .offset-m2
    margin-left rise_width(2) 
  .offset-m3
    margin-left rise_width(3)
  .offset-m4
    margin-left rise_width(4)
  .offset-m5
    margin-left rise_width(5)
  .offset-m6
    margin-left rise_width(6) 
  .offset-m7
    margin-left rise_width(7) 
  .offset-m8
    margin-left rise_width(8)
  .offset-m9
    margin-left rise_width(9) 
  .offset-m10
    margin-left rise_width(10) 
  .offset-m11
    margin-left rise_width(11)
    
@media (min-width 1200px)
  .rise-l1
    width $1_rise_wth    
  .rise-l2
    width rise_width(2)
  .rise-l3
    width rise_width(3)    
  .rise-l4
    width rise_width(4) 
  .rise-l5
    width rise_width(5) 
  .rise-l6
    width rise_width(6)
  .rise-l7
    width rise_width(7)   
  .rise-l8
    width rise_width(8) 
  .rise-l9
    width rise_width(9)   
  .rise-l10
    width rise_width(10)   
  .rise-l11
    width rise_width(11) 
  .rise-l12
    width rise_width(12)
    margin-left 0
  .offset-l1
    margin-left $1_rise_wth
  .offset-l2
    margin-left rise_width(2) 
  .offset-l3
    margin-left rise_width(3)
  .offset-l4
    margin-left rise_width(4)
  .offset-l5
    margin-left rise_width(5)
  .offset-l6
    margin-left rise_width(6) 
  .offset-l7
    margin-left rise_width(7) 
  .offset-l8
    margin-left rise_width(8)
  .offset-l9
    margin-left rise_width(9) 
  .offset-l10
    margin-left rise_width(10) 
  .offset-l11
    margin-left rise_width(11)
    

