.img-pod-vert
  text-align center
  padding-top 2rem
  margin-bottom 3rem
  img
    display block
    margin 0 auto
    width 50%
    height auto
  .img-pod-text
    padding-top .5rem
    .img-title
      font-size 1.7rem
      font-weight bold
    .img-desc
      font-size 1.1rem
.img-pod-horz
  text-align left
  margin-bottom 3rem
  &:after
    content ""
    display table
    clear both
  img    
    float left
  .img-pod-text
    padding-top .5rem
    .img-title
      top .5rem
      font-size 1.7rem
      font-weight bold
      margin-left 12rem
    .img-desc
      font-size 1.1rem
      margin-left 12rem
.block-body
  .img-pod-horz
    margin-bottom 0
    img
      margin 2rem 3rem
      padding 0
    .img-pod-text
      padding-top 2rem

