th,td 
  padding 12px 15px
  text-align left
  border-bottom 1px solid #E1E1E1
  &:first-child
    padding-left 0 
  &:last-child
    padding-right 0

btn,.btn,.btn-round,.btn-neutral,.btn-good,.btn-medium,.btn-bad 
  margin-bottom 1rem
input,textarea,select,fieldset 
  margin-bottom 1.5rem
pre,blockquote,dl,figure,table,p,ul,ol,form 
  margin-bottom 2.5rem