html /* This makes the default font size 10px. All rem values change to match so 1.5rem equals 15px */
  font-size 62.5%
  font-family $main_font
body
  font-size 1.5em
  line-height 1.6
  font-weight 400
  color $default_font_colour
  font-family $main_font

h1,h2,h3,h4,h5,h6
  margin-top 0
  margin-bottom 2rem
  font-weight 300
h1
  line-height 1.2
  letter-spacing -.1rem
h2
  line-height 1.25
  letter-spacing -.1rem
h3
  line-height 1.3
  letter-spacing -.1rem
h4
  line-height 1.35
  letter-spacing -.08rem
h5
  line-height 1.5
  letter-spacing -.05rem
h6
  line-height 1.6
  letter-spacing 0
p
  font-size 1.4rem
  margin-top 0
  margin-bottom 0
  margin-left 5px
  padding-top 7.5px
  padding-bottom 5px  
  
a
  color darken($default_site_colour, 25)
  font-size inherit
  text-decoration underline
  text-shadow -.5px .4px 0 darken($default_site_colour, 15)
  -moz-text-shadow -.5px .4px 0 darken($default_site_colour, 15)
  -webkit-text-shadow -.5px .4px 0 darken($default_site_colour, 15)
  -o-text-shadow -.5px .4px 0 darken($default_site_colour, 15)  
  &:hover
    color darken($default_site_colour, 10)

    
code
  padding .2rem .5rem
  margin 0 .2rem
  font-family $code_font
  font-size 90%
  white-space nowrap
  background #F1F1F1
  border 1px solid #E1E1E1
  border-radius 4px
pre > code 
  display block
  padding 1rem 1.5rem
  white-space pre
  margin-bottom 2.5rem

blockquote
  margin-bottom 2.5rem
  
.tLeft
  text-align left
.tRight
  text-align right 
.tCenter
  text-align center  
.tJustify
  text-align justify
.tNoWrap
  white-space nowrap
.tUppercase
  text-transform uppercase
.tLowercase
  text-transform lowercase
.tCapitalize
  text-transform capitalize

  
@media (max-width 767px)
  h1
    font-size ($h1_size / 1.2)
  h2
    font-size ($h2_size / 1.2)
  h3
    font-size ($h3_size / 1.2) 
  h4
    font-size ($h4_size / 1.2)
  h5
    font-size ($h5_size / 1.2)
  h6
    font-size ($h6_size / 1.2)
  
@media (min-width 768px)
  h1
    font-size ($h1_size / 1.15)
  h2
    font-size ($h2_size / 1.15)
  h3
    font-size ($h3_size / 1.15)
  h4
    font-size ($h4_size / 1.15)
  h5
    font-size ($h5_size / 1.15)
  h6
    font-size ($h6_size / 1.15)

@media (min-width 992px)
  h1
    font-size ($h1_size / 1.1)
  h2
    font-size ($h2_size / 1.1)
  h3
    font-size ($h3_size / 1.1)
  h4
    font-size ($h4_size / 1.1)
  h5
    font-size ($h5_size / 1.1)
  h6
    font-size ($h6_size / 1.1)
@media (min-width 1200px)
  h1
    font-size $h1_size
  h2
    font-size $h2_size
  h3
    font-size $h3_size
  h4
    font-size $h4_size
  h5
    font-size $h5_size
  h6
    font-size $h6_size
