/* UTILITIES */
.full-width /* Makes element the width of it's parent*/
  width 100%
  box-sizing border-box 
.no-bleed /* Stops image from bleeding over edge of parent */
  max-width 100%
  box-sizing border-box
.push
  float right 
.pull 
  float left
.round /* Makes any element have round corners */
  border-radius .4rem
.circle /* Use with images to make them into perfect circles */
  border-radius 50%
.shadow-left
  box-shadow -.3rem .4rem 1rem .2rem rgba(0,0,0,.3)
.shadow-right 
  box-shadow .3rem .4rem 1rem .2rem rgba(0,0,0,.3)

/* COLOURING */
.good-bg
  background-color $good
.medium-bg
  background-color $medium
.bad-bg
  background-color $bad
.neutral-bg
  background-color $neutral

/* MISC */
hr
  margin-top 3rem
  margin-bottom 3.5rem
  border-width 0
  border-top .1rem solid #E1E1E1
dl,figure
  margin-bottom 2.5rem

/* CLEARING */
.container:after,.row:after,label:after,.clear-it
  content ""
  display table
  clear both