/* UTILITIES */
.full-width-element 
  width 100%
  box-sizing border-box 
.no-bleed-element
  max-width 100%
  box-sizing border-box
.push
  float right 
.pull 
  float left

/* MISC */
hr
  margin-top 3rem
  margin-bottom 3.5rem
  border-width 0
  border-top 1px solid #E1E1E1

/* CLEARING */
.container:after,.row:after,.clear-it
  content ""
  display table
  clear both