@media (max-width 767px)
  .hide-mob
    display none    
  .show-tab
    display none    
  .show-lap
    display none
  .show-des
    display none
@media (min-width 768px)
  .hide-tab
    display none
  .show-mob
    display none
  .show-lap
    display none
  .show-des
    display none
@media (min-width 992px)
  .hide-lap
    display none
  .show-mob
    display none
  .show-tab
    display none        
  .show-des
    display none
@media (min-width 1200px)
  .hide-des
    display none
  .show-mob
    display none
  .show-tab
    display none
  .show-lap
    display none