@media (max-width 767px)
  .hide-default
    display none    
  .show-s
    display none    
  .show-m
    display none
  .show-l
    display none
@media (min-width 768px)
  .hide-s
    display none
  .show-default
    display none
  .show-m
    display none
  .show-l
    display none
@media (min-width 992px)
  .hide-m
    display none
  .show-default
    display none
  .show-s
    display none        
  .show-l
    display none
@media (min-width 1200px)
  .hide-l
    display none
  .show-default
    display none
  .show-s
    display none
  .show-m
    display none